body{
    background-image: url(https://t4.ftcdn.net/jpg/03/25/79/83/360_F_325798309_IZeCFTjLJXq0x6TJlVRbaluHiMb6G1ZO.jpg);
}

div {
    margin: auto;
    align-items: center;
    border-radius: 25px;
    border-color: black;
}
